# DataFrame Operations

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

In [ ]:
## To display notebook cell with horizontal scroll bar
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

In [132]:
walmart_stock=spark.read.csv('/content/drive/MyDrive/Data (1)/Data/walmart_stock.csv',header=True,inferSchema=True)

#### Start a simple Spark Session

In [98]:
from pyspark.sql.functions import col,format_number,format_string
from pyspark.sql.types import StringType,BooleanType,DateType
from pyspark.sql.functions import *
from pyspark.sql import functions as F

In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('walmart').getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [ ]:
df_walmart=spark.read.csv('/content/drive/MyDrive/Data (1)/Data/walmart_stock.csv',header=True,inferSchema=True)

#### What are the column names?

In [ ]:
df_walmart.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [ ]:
df_walmart.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 salary.

In [ ]:
df_walmart.show(5)

+----------+------------------+---------+---------+------------------+--------+------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|59.619999|58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|59.450001|58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|59.549999|58.919998|             59.18| 6679300|51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

In [ ]:
#another solution
df_first_Salary=df_walmart.head(5)
df_first_Salary

[Row(Date=datetime.date(2012, 1, 3), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date=datetime.date(2012, 1, 4), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date=datetime.date(2012, 1, 5), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date=datetime.date(2012, 1, 6), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date=datetime.date(2012, 1, 9), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

#### Use describe() to learn about the DataFrame.

In [34]:
df_describe=df_walmart.describe()
df_describe.show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar.

If you get stuck on this, don't worry, just view the solutions.

In [35]:
df_describe.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [53]:

from pyspark.sql.types import FloatType
df_describe_1=df_describe.select(df_describe['summary'],
                                 format_string('%.2f',col('Open').cast(FloatType())).alias('Open'),
                                 format_string('%.2f',col('High').cast(FloatType())).alias('High'),
                                 format_string('%.2f',col('Low').cast(FloatType())).alias('Low'),
                                 format_string('%.2f',col('Close').cast(FloatType())).alias('Close'),
                                 format_string('%.2f',col('Volume').cast(FloatType())).alias('Volume'))
df_describe_1.show()

+-------+-------+-------+-------+-------+-----------+
|summary|   Open|   High|    Low|  Close|     Volume|
+-------+-------+-------+-------+-------+-----------+
|  count|1258.00|1258.00|1258.00|1258.00|    1258.00|
|   mean|  72.36|  72.84|  71.92|  72.39| 8222093.50|
| stddev|   6.77|   6.77|   6.74|   6.76| 4519781.00|
|    min|  56.39|  57.06|  56.30|  56.42| 2094900.00|
|    max|  90.80|  90.97|  89.25|  90.47|80898096.00|
+-------+-------+-------+-------+-------+-----------+

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519781|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

In [54]:
df_describe_1.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = false)
 |-- High: string (nullable = false)
 |-- Low: string (nullable = false)
 |-- Close: string (nullable = false)
 |-- Volume: string (nullable = false)

In [ ]:
# Notice all data types are Strings!
df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [52]:
from pyspark.sql.functions import format_number

In [57]:
result = df_walmart.describe()
result.select(result['summary'],
              format_number(result['Open'].cast('float'),2).alias('Open'),
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              result['Volume'].cast('int').alias('Volume')
             ).show()

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519780|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

#### ################################################################## End of Bonus Question

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [63]:
df_walmart_1=df_walmart.withColumn('HV Ratio',df_walmart['High']/df_walmart['Volume'])
df_walmart_1.select('HV Ratio').show()

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

#### What day had the Peak High in Price?

In [87]:
max_price=df_walmart_1.agg({'High':'max'}).head(1)[0][0]
max_price

90.970001

In [91]:
date_with_high_priced=df_walmart_1.select('Date').where(df_walmart_1['High']==max_price)
date_with_high_priced.show()

+----------+
|      Date|
+----------+
|2015-01-13|
+----------+

In [74]:
date_with_high_priced=df_walmart_1.orderBy(df_walmart_1['High'].desc()).head(1)[0][0]
date_with_high_priced

datetime.date(2015, 1, 13)

#### What is the mean of the Close column?

In [92]:
mean_close=df_walmart_1.agg({'Close':'mean'})
mean_close.show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [100]:
max_min_volume=df_walmart_1.agg(max('Volume'),min('Volume'))
max_min_volume.show()

+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [102]:
close_less_tahn_60=df_walmart_1.filter(df_walmart_1['Close']<60).count()
close_less_tahn_60

81

In [103]:
#another solution
close_less_tahn_60=df_walmart_1.select(df_walmart_1['Close']).where(df_walmart_1['Close']<60).count()
close_less_tahn_60

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

9.141494435612083

#### What is the Pearson correlation between High and Volume?

+-------------------+
| corr(High, Volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [107]:
max_high_per_year=df_walmart_1.groupBy(year('Date').alias('year')).agg(max('High'))
max_high_per_year.show()

+----+---------+
|year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [109]:
avg_close_per_month=df_walmart_1.groupBy(month('Date').alias('month')).agg(avg('Close')).orderBy('month')
avg_close_per_month.show()

+-----+-----------------+
|month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+

## Task 2

### Read "test1" dataset:

In [110]:
test1=spark.read.csv('/content/drive/MyDrive/Data (1)/Data/test1.csv',header=True,inferSchema=True)

In [111]:
test1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [112]:
salary_lessORequal_20000=test1.select('Name','Salary').where(test1['Salary']<=20000)
salary_lessORequal_20000.show()

+-------+------+
|   Name|Salary|
+-------+------+
|  Sunny| 20000|
|   Paul| 20000|
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [118]:
salary=test1.select('Name','Salary').filter(test1['Salary']<=20000).filter(test1['Salary']>=15000)
salary.show()

+-------+------+
|   Name|Salary|
+-------+------+
|  Sunny| 20000|
|   Paul| 20000|
| Harsha| 15000|
|Shubham| 18000|
+-------+------+

## Task 3

### Read "test3" dataset:

In [119]:
test3=spark.read.csv('/content/drive/MyDrive/Data (1)/Data/test3.csv',header=True,inferSchema=True)

### Display dataset

In [120]:
test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [121]:
test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "salary" column

In [122]:
sum_salary=test3.groupBy('Name').agg(sum('salary'))
sum_salary.show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

### Group by "Name" column and using avg function on "salary" column

In [123]:
avg_salary=test3.groupBy('Name').agg(avg('salary'))
avg_salary.show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "salary" column

In [124]:
sum_salary_ofdepartment=test3.groupBy('Departments').agg(sum('salary'))
sum_salary_ofdepartment.show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "salary" column:

In [125]:
mean_salary_ofdepartment=test3.groupBy('Departments').agg(mean('salary'))
mean_salary_ofdepartment.show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [126]:
count_department=test3.groupBy('Departments').agg(count('Departments'))
count_department.show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [130]:
total_salary=test3.agg(sum('salary'))
total_salary.show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+